/* Start Scrollbar */

body {
  --sb-track-color: #19283f;
  --sb-thumb-color: #aba944;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
/* End Scrollbar */
body {
  font-family: "Roboto", system-ui;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/images/landing-bg.jpg) center center / cover;
}

.order-form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  opacity: 0.9;
}
.logo img {
  width: 100px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
/* Start Footer */
.footer {
  background-color: #19283f;
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 20px;
}
.footer span {
  font-weight: bold;
  color: #aba944;
}
@media screen and (max-width: 480px) {
  .footer {
    font-size: 15px;
  }
}
/* End Footer */
